.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  background-image: linear-gradient(
    30deg,
    hsl(0deg 0% 14%) 0%,
    hsl(31deg 8% 18%) 9%,
    hsl(32deg 12% 22%) 14%,
    hsl(32deg 16% 27%) 18%,
    hsl(32deg 18% 31%) 22%,
    hsl(33deg 20% 36%) 26%,
    hsl(33deg 22% 41%) 29%,
    hsl(33deg 23% 46%) 32%,
    hsl(33deg 25% 51%) 36%,
    hsl(33deg 32% 56%) 39%,
    hsl(34deg 41% 61%) 42%,
    hsl(34deg 53% 66%) 46%,
    hsl(34deg 53% 67%) 49%,
    hsl(34deg 54% 68%) 52%,
    hsl(34deg 55% 69%) 56%,
    hsl(34deg 55% 70%) 59%,
    hsl(34deg 56% 71%) 63%,
    hsl(35deg 57% 72%) 67%,
    hsl(35deg 58% 74%) 71%,
    hsl(35deg 59% 75%) 75%,
    hsl(35deg 60% 76%) 80%,
    hsl(35deg 61% 77%) 87%,
    hsl(35deg 63% 78%) 100%
  );
}

/* Contenedor principal */
.flower-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Flor */
.flower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 120px;
}

/* Centro de la flor */
.center {
  width: 100px;
  height: 100px;
  background-color: #5f2510; /* Amarillo oscuro */
  border-radius: 50%;
  z-index: 2; /* Para que esté sobre los pétalos */
  transform: translateY(75px);
}

/* Contenedor de pétalos */
.petals {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Pétalos */
.petal {
  width: 90px;
  height: 150px;
  background-color: #fcc900;
  border-radius: 50%;
  position: absolute;
  transform-origin: bottom center;
}

/* Posicionamiento de los pétalos */
.petal:nth-child(1) { transform: rotate(12deg) translateY(-30px); }
.petal:nth-child(2) { transform: rotate(74deg) translateY(-30px); }
.petal:nth-child(3) { transform: rotate(132deg) translateY(-30px); }
.petal:nth-child(4) { transform: rotate(192deg) translateY(-30px); }
.petal:nth-child(5) { transform: rotate(252deg) translateY(-30px); }
.petal:nth-child(6) { transform: rotate(312deg) translateY(-30px); }

/* Tallo */
.stem {
  width: 25px;
  height: 300px;
  background-color: #345F04;
  margin-top: -20px;
  position: relative;
  bottom: -200px;
  z-index: -10;
}

.card{
  width: 200px;
  height: 100px;
  z-index: 20;
  position: relative;
  bottom: -200px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.card p {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-align: center;
  font-family: 'Lobster', sans-serif;
  padding: 1rem;
}
